<div id="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-header">
            Sales per country
          </div>
          <div class="card-body">
            <img alt="placeholder pie chart" class="image" src="https://storage.googleapis.com/mf_static_files/pie-chart.png"/>
          </div>
          <div class="card-footer text-muted">
            <a class="btn btn-primary" routerLink="/sales">Manage sales</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center h-100">
          <div class="card-header">
            Customers
          </div>
          <div class="card-body" fxLayout="row" fxLayoutAlign="center center">
            <span class="big-number">13593</span>
          </div>
          <div class="card-footer text-muted">

          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="card text-center">
          <div class="card-header">
            Product Sales
          </div>
          <div class="card-body">
            <img alt="placeholder pie chart" class="image" src="https://storage.googleapis.com/mf_static_files/line-chart.png"/>
          </div>
          <div class="card-footer text-muted">
            <a class="btn btn-primary" routerLink="/sales">Manage sales</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-header">
            Reclamations
          </div>
          <div class="card-body">
            <img alt="placeholder pie chart" class="image" src="https://storage.googleapis.com/mf_static_files/barchart.png"/>
          </div>
          <div class="card-footer text-muted">
            <a class="btn btn-primary" routerLink="/articleAdministration">Manage articles</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
